# Data Science Tolls and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ R
+ Scala
+ SQL

# Some of popular lanuages that Data Science use are:
1. R
2. Phyton
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Scikit learn
2. Matplotlib
3. Numpy

# Execute it as Markdown cell
| Data Science Tools |
| -------------------|
|Jupiter Lab|
|GitHub|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Phyton.

# This is a simple arithmetic expression to multiply then add integers.

In [8]:
(3*4)+5

17

# This will convert 200 minutes to hours by dividing by 60.

In [19]:
200/60

3.3333333333333335

## Author
Karolina